text_color = #424242
title_color = #03A9F4
shadow_color = #E0E0E0
date_color = #BDBDBD


@font-face
   font-family Blacker
   font-style bold
   src url(../fonts/Blacker-Bold.ttf)

.article_card
    color: text_color
    opacity: .5
    cursor: pointer

    border-radius: 20px
    padding-top: 10px
    padding-bottom: 10px
    padding-right: 5%
    padding-left: 5%

    box-shadow: none
    transition: .3s
        
    .article_card_title
        margin-bottom: rhythm(1 / 4)
        font-family Blacker
        color: title_color
        box-shadow: none
        margin-bottom: 0

    .article_card_date
        color: date_color
        font-size: .8em
        font-style: italic
    

    &:hover
        background-color: white
        margin: 5% 0 5% 0
        opacity: 1
        transition: .3s
        box-shadow: 5px 5px 50px shadow_color
        transform: scale(1.1)


    