
@font-face
   font-family Blacker
   font-style bold
   src url(../fonts/Blacker-Bold.ttf)

.layout_h1_link
    padding-top: 20px
    font-size: 1.1em
    font-family: Blacker

.layout_h1_link_pages
    padding-top: 20px
    font-size: 1.1em
    opacity: .7
    font-family: Blacker
    transition: .3s

    &:hover
        opacity: 1
        transition: .3s
